body {
    margin: 25px auto;
    width: 600px;
    text-align: center;
    background: black;
    color: white;
}

textarea {
    background: black;
    border: 1px white solid;
    color: white;
}



#output {
    height: 300px;
    width: 600px;
    border: 1px white solid;
    margin: auto;
    color: white;
    overflow: auto;
}
